.judul{
    color: green;
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: black;
    color: white;
}
.recent-artists{

    padding: 20px;
    border:1px solid red;
    
}
.my-playlist{
    margin: 10px;
    padding: 20px;
    border:1px solid red;
}
.song img{
    height: 20%;
    width: auto;
}
.song{
    border: 1px solid white;
    width: 20%;
    margin: 5px;
    float: left;
    padding: 20px;
    text-align: center;
}